import { Link } from 'react-router-dom';
import { Button } from 'antd';
import { PlusCircleOutlined } from '@ant-design/icons';
import {{tableName}}Table from '@features/{{directoryName}}/{{tableFileName}}';
import PageContent from '@layouts/partials/page-content';
import PageHeader from '@layouts/partials/page-header';

const {{indexPageName}} = () => {
  return (
    <>
      <PageHeader
        title="{{indexPageName}}"
        subTitle="Manage {{title}}"
      >
        <Link to={'/{{routeName}}/create'}>
          <Button type={'primary'} icon={<PlusCircleOutlined />}>
            Create {{actionTitle}}
          </Button>
        </Link>
      </PageHeader>
      <PageContent>
        <{{tableName}}Table />
      </PageContent>
    </>
  );
};

export default {{indexPageName}};